<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4 fixed ">
  <a  class="brand-link  text-center text-light">
    
    <span class="brand-text font-weight-ligh">Paper Plane</span>
  </a>
  
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        
      </div>
      <div class="info">
        <a class="d-block">Paper Plane Vendor</a>
      </div>
    </div>

    <nav class="mt-2">
      
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
      <li class="nav-item" [routerLink]="['/vendor/home']">
        <a class="nav-link"  id="dasboard-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p >
            Dashboard
          </p>
        </a>
      </li>

      <li class="nav-item" (click)="toggleDropdown('products')"  id="products">
        <a class="nav-link">
          <fa-icon [icon]="faBoxOpen"  ></fa-icon>
          <p>
            &nbsp; Products
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a [routerLink]="['/vendor/home/products/add-product']" class="nav-link" id="add-product">
              <i class="far fa-circle nav-icon"></i>
              <p>Add Product</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="./index3.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Manage Product</p>
            </a>
          </li>
        </ul>
      </li>
      </ul>
    </nav>
  </div>
  
</aside>
